Finding tenuous groups in social networks.pdf
forming online support groups for internet and behavior related addictions.pdf
On Automatic Formation of Effective Therapy Groups in Social Networks.pdf
a core leader based label propagation algorithm for community detection.pdf
a new label propagation with dams.pdf
a new multiple label propagation algorithm for linked open data.pdf